.v-list, .h-list {
  list-style: none;
}
.v-list li, .h-list li {
  list-style-position: outside;
}
.v-list li {
  margin: 0;
}
.h-list li {
  float: left;
  margin: 0 10px 0 0;
}
/* Background Gradient Classes */
/* turns an element into a button */
.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #dddddd));
  border: solid 1px #999;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 10px;
  padding: 6px 10px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 1px #ffffff;
}
